.App {
  background: #f3f7fa;
  text-align: left;
  min-height: 100vh;
}

.App .flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
}

.header h2 {
  margin: 0;
  margin-right: 15px;
}

@media only screen and (max-width: 710px) {
  .App .flex-container {
    flex-direction: column;
  }
}
